<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "名前" %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field image">
    <%= form.label '人物写真' %>

      <div id="img_field" onClick="$('#file').click()" >

        <% if @note.image.url.present? %>
          <%= image_tag(@note.image.url) %>
        <% else %>
          <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
        <% end %>
  
      </div>
    
    <%= form.file_field :image, class: "image", style: "display:none;", id: "file"%>
  </div>

  
  <div class="field">
    <%= form.label "タグ（カンマでつなぐことで複数入力できます）" %>
    <%= form.text_field :tag_list, value: @note.tag_list.join(','), class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "誕生日（yyyymmddで入力してください）" %>
    <%= form.number_field :birthday %>
  </div>

  <div class="field">
    <%= form.label "出身" %>
    <%= form.text_field :where_from %>
  </div>

  <div class="field">
    <%= form.label "趣味" %>
    <%= form.text_area :hobby %>
  </div>

  <div class="field">
    <%= form.label "詳細" %>
    <%= form.text_area :detail %>
  </div>

  <%= button_tag class: 'btn waves-effect waves-light' do %>
    <%= content_tag :i, "send", class: "material-icons right" %>登録
  <% end %>
<% end %>
