<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :写真 %>
    <%= form.file_field :image %>
  </div>
  
  <div class="field">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list, value: @note.tag_list.join(','), class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.number_field :birthday %>
  </div>

  <div class="field">
    <%= form.label :where_from %>
    <%= form.text_field :where_from %>
  </div>

  <div class="field">
    <%= form.label :hobby %>
    <%= form.text_area :hobby %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
